mixin steps
	section.steps
		p.steps__title Этапы установки робота
		ul.steps__list
			li.steps__item Подать заявку
			li.steps__item Запросить у заказчика видео интерьера ресторана
			li.steps__item Проверить возможности установки на основе видео
			li.steps__item Подписать договор и внести депозит
			li.steps__item Консультация с финансовой компанией
			li.steps__item Планирование даты установки
			li.steps__item Окончательная установка
