mixin steps
	section.steps
		.wrapper
			p.steps__title Этапы установки робота
			ul.steps__list
				li.steps__item Подача заявки
				li.steps__item Запрос у заказчика видео интерьера ресторана
				li.steps__item Проверка возможности установки на основе видео
				li.steps__item Подписание договора и внесение депозита
				li.steps__item Консультация с финансовой компанией
				li.steps__item Планирование даты установки
				li.steps__item Окончательная установка
