mixin experience
	section.experience
		p.experience__title Где сейчас работают роботы-официанты
		ul.experience__list
			li.experience__item
				a(href="#").experience__link
				img(src="" alt="").experience__img
				p.experience__text Dodo Pizza
