mixin purchase
	section.purchase
		.wrapper
			.purchase__section
				p.purchase__section-title Покупка от 
				b.purchase__section-price 23 000$
				.purchase__section-footnone
					p *гарантия 1 год
					p *доступен вариант финансирования
					p от 3 до 5 лет / около 4% годовых
			.purchase__section
				p.purchase__section-title Лицензия
				b.purchase__section-price 47.70$ в день
				.purchase__section-footnone
					p *Контракт минимум на 6 месяцев
					p *Бесплатная гарантия на контрактный период
					p *Ежемесячный платеж 1450 долларов США (вкл. GST)
					p *Обменивайте робота на нового каждые 2 года
