mixin features
	section.features
		.features__content
			p.features__title Основные характеристики
			ul.features__list
				li.features__item
					p.features__item-name Размер
					p.features__item-value 516*500*1288мм
				li.features__item
					p.features__item-name Вес
					p.features__item-value 40кг
				li.features__item
					p.features__item-name Материал
					p.features__item-value авиационный 
						br
						| алюминиевый сплав
				li.features__item
					p.features__item-name Время зарадки
					p.features__item-value 4 часа
				li.features__item
					p.features__item-name Жизнь батареи
					p.features__item-value от 10 до 24 часов
				li.features__item
					p.features__item-name Скорость
					p.features__item-value 0.5~1.2м/с регулируется
				li.features__item
					p.features__item-name Разовая загрузка
					p.features__item-value 10кг
