mixin media
	section.media
		p.media__title Медиа
		ul.media__list
			li.media__item
				.media__video
					<video src=""></video>
					button(type="button").media__play-btn
				p.media__text 
		button(type="button").media__load-more Загрузить еще
