mixin places
	section.places
		ul.places__list
			li.places__item
				img(src="./img/places1.webp" alt="Станции метро").places__img
				p.places__text Станции метро
			li.places__item
				img(src="./img/places2.webp" alt="Аэропорты").places__img
				p.places__text Аэропорты
			li.places__item
				img(src="./img/places3.webp" alt="Рестораны").places__img
				p.places__text Рестораны
			li.places__item
				img(src="./img/places4.webp" alt="Компании").places__img
				p.places__text Компании
			li.places__item
				img(src="./img/places5.webp" alt="Супермаркеты").places__img
				p.places__text Супермаркеты
			li.places__item
				img(src="./img/places6.webp" alt="Торговые центры").places__img
				p.places__text Торговые центры
