include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		main.main
			+header
			+intro
			+pudobot
			+features
			+media
			+feedback
			+purchase
			+places
			+steps
			+bellabot
			+experience
			+footer
		