include standart/head
include standart/header
include standart/footer
include standart/scripts

include intro/intro
include pudobot/pudobot
include features/features
include media/media
include feedback/feedback
include purchase/purchase
include places/places
include steps/steps
include bellabot/bellabot
include experience/experience
