mixin pudobot
	section.pudobot
		.wrapper
			ul.pudobot__feature-list
				li.pudobot__feature-item
					p.pudobot__feature-caption Пудубот
					.pudobot__feature-picture
						img(src="./static/img/pudobot.jpg" alt="pudobot")
					.pudobot__feature-info
						<svg class="pudobot__decor" preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264"  data-type="color" role="img"><defs><style>#comp-jtr472u2 svg [data-color="1"] {fill: #15E0FB;}</style></defs><g><path fill="#15E0FB" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g></svg>
						p.pudobot__feature-text Пудубот - это инновационный
							br
							| робот для обслуживания клиентов.
						p.pudobot__feature-text С пудуботом безконтактная доставка блюд становится возможной.  Это значит, что ваши работники смогут эффективнее обслуживать посетителей благодаря автоматизации подачи блюд.
				li.pudobot__feature-item
					.pudobot__feature-video
						video(src="./static/img/video/pudubot.mp4" autoplay="true" muted="true" loop="true")
					.pudobot__feature-info
						<svg class="pudobot__decor" preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264"  data-type="color" role="img"><defs><style>#comp-jtr472u2 svg [data-color="1"] {fill: #15E0FB;}</style></defs><g><path fill="#15E0FB" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g></svg>
						p.pudobot__feature-title PUDO SLAM
						p.pudobot__feature-text PUDU SLAM - это новая технология, основанная на лидарe, камере, UWB, RGBD, IMU и нескольких датчиках.
						p.pudobot__feature-text Это решение обеспечивает эффективное выполнение задач роботом в сложном пространстве.
				li.pudobot__feature-item
					.pudobot__feature-picture
						img(src="./static/img/pudobot1.jpg" alt="pudobot")
					.pudobot__feature-info
						<svg class="pudobot__decor" preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264"  data-type="color" role="img"><defs><style>#comp-jtr472u2 svg [data-color="1"] {fill: #15E0FB;}</style></defs><g><path fill="#15E0FB" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g></svg>
						p.pudobot__feature-title Восприятие пространства
						p.pudobot__feature-text Характеристики безопасности значительно улучшены - робот избегает столкновения с препятствиями, 
							br
							| а вероятность прикосновения к подвешенным объектам или другим препятствиям из слепых зон значительно снижена. В дополнение к лидару добавлены несколько визуальных датчиков, позволяющих роботу перейти 
							br
							| от восприятия 2D плоскости к 3D.
				li.pudobot__feature-item
					.pudobot__feature-picture
						img(src="./static/img/pudobot2.jpg" alt="pudobot")
					.pudobot__feature-info
						<svg class="pudobot__decor" preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264"  data-type="color" role="img"><defs><style>#comp-jtr472u2 svg [data-color="1"] {fill: #15E0FB;}</style></defs><g><path fill="#15E0FB" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g></svg>
						p.pudobot__feature-title 3D предотвращение столкновений
						p.pudobot__feature-text В отличие от традиционных
							br
							| 2D-радаров, 3D-стереодатчики могут быстро создавать стереомодели окружающей среды, что значительно снижает вероятность происшествий с нарушением безопасности.
