mixin footer
	footer.footer
		.footer__company
			p.footer__company-text SfS Roboticks - авторизованный диллер Pudu Robotics.
		.footer__bottom
			.wrapper
				.footer__left
					.footer__contacts
						<svg class="footer__decor" preserveAspectRatio="xMidYMid meet" data-bbox="0 0 125 264" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125 264"  data-type="color" role="img"><defs><style>#comp-jtr472u2 svg [data-color="1"] {fill: #15E0FB;}</style></defs><g><path fill="#15E0FB" d="M104.167 0H125L20.833 264H0L104.167 0z" fill-rule="evenodd" data-color="1"></path></g></svg>
						ul.footer__contacts-list
							li.footer__contacts-item JnS Robotics
							li.footer__contacts-item info@jnsrobotics.com
							li.footer__contacts-item 03 9399 2001
					.footer__copyright
						p ©2021 by Sfs Roboticks
				.footer__right
					ul.footer__social-list
						li.footer__social-item
							a(href="#").footer__social-link.footer__social-link--insta
						li.footer__social-item
							a(href="#").footer__social-link.footer__social-link--fb
				
