mixin header
	header.header
		.wrapper
			.header__logo
				a(href="/").header__logo-link
					img(src="#").header__logo-icon
			.header__nav
				.header__nav-wrapper
					nav.header__nav-list
						li.header__nav-item
							a(href="/").header__nav-link.active Главная
						li.header__nav-item
							a(href="#").header__nav-link Pudobot
						li.header__nav-item
							a(href="#").header__nav-link Bellabot
						li.header__nav-item
							a(href="#").header__nav-link Медиа
						li.header__nav-item
							a(href="#").header__nav-link Оставить заявку
